{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">

    <h3>
        課題についての説明
    </h3>
    <p>
        以下の内容によく目を通してください。ペアの相手にも同じ内容が説明されています。
    </p>
    <p>
        この実験では、あなたはペアになった参加者と一緒に課題に取り組んでいただきます。
        お二人のうちどちらかが「役割A」として、もう一人が「役割B」にランダムに割り振られます。
        この実験では同じことを何度か繰り返し行っていただきますが、役割が入れ替わることはありません。
        あなたがどちらの役割なのかは、次のページ以降でお知らせします。
    </p>
    <h4>
        課題の内容
    </h4>
    <p>
        課題では、まず役割Aの方がサイコロを振ります。そして、出目が何だったかということを報告していただきます。
        役割Bの方は、Aの方のサイコロの出目が何であったかを確認した後、サイコロを振っていただきます。
        そして、同じく出目が何だったかという事を報告していただきます。
        このとき、振っていただいたサイコロの出目がそれぞれ何であったかということは、
        振った本人以外が確認することはできません。
        これを何度か（最大30）回繰り返していただきます。
        お二人が報告した出目が同じだったかによって、報酬が決定されます（詳しくは次のセクションをご覧ください）。
    </p>
    <h4>
        追加でお支払いする報酬について
    </h4>
    <p>
        報告されたうちの1回がランダムに選択され、そのときのお二人の報告に応じて追加で報酬をお支払いします。
        報酬額は、お二人とも報告した出目が6だった場合は600円、5だった場合には500円 …… 1だった場合には100円、
        といったように決定されますが、お二人の報告された出目が異なる場合、追加報酬をお支払いすることはできません。
    </p>
</div>
</div>