{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">

    <h3>
        Instructions
    </h3>
    <p>
        You have been randomly and anonymously paired with another participant.
        One of you will be selected at random to be participant A;
        the other will be participant B.
        You will learn whether you are participant A or B prior to making any
        decision.
    </p>
    <p>
        To start, participant A receives the diceroll;
        Participant A reports the result to participant B.
        Once B receives the report, B reports back his result.
    </p>
</div>
</div>