{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
アンケート
{% endblock %}

{% block content %}
<p><b>
    このアンケートで尋ねるのは、あなたの友人があなたにとってどのような友人であるかについての質問です。<br>

    質問の空欄部分には、あなたの友人の名前が入ります。<br>

    今回ペアになったあなたの友人をイメージし、彼や彼女にどのくらい当てはまるかを考えて、質問ごとに当てはまる数字を回答してください。<br>

    友情は人によって異なるため、このアンケートに正しい回答や間違った回答というものは存在しません。<br>

    あなたにとってその友人が、実際にどのような存在であるかを回答してください。<br>
</b></p>

0:決してない<br>
1<br>
2:まれである<br>
3<br>
4:たまにある<br>
5<br>
6:かなり頻繁にある<br>
7<br>
8:いつもそうだ<br>

    {% formfields %}

    <button class="otree-btn-next btn btn-primary">次へ</button>

{% endblock %}
