{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
アンケート
{% endblock %}

{% block content %}

<p><b>
    あなたが、いろいろな人間関係の中で経験する「人に対する感じ方や考え方」には、一般的には次のような4つのタイプがあると言われています。<br>
    あなたはそれぞれのタイプにどのくらいよくあてはまりますか。当てはまる番号をお答えください。<br>
    また、自分はどのタイプにもっともよく当てはまると思いますか。選んでください。

</b></p>

<p><b>タイプ1 (安全型, secure)</b><br>
私にとって、人といつも心が通じ合う関係を持つことは、簡単である。私は人に頼ったり頼られたりすることに抵抗がない。
私は一人ぼっちになってしまうとか、人がありのままの私を受け入れてくれないのではないかということを心配しない。
</p>

<p><b>タイプ2 (拒絶型, dismissing)</b><br>
私は人といつも心が通じ合う関係がなくても平気だ。私にとって大切なのは、人に頼っていないと感じること、自分で何でもできていると感じることだ。
私は人に頼ったり頼られたりすることが好きではない。
</p>

<p><b>タイプ3 (とらわれ型, preoccupied)</b><br>
私は人と完全に気持ちが通じ合うようになりたい。しかし、人は私が望むほど私と親しくなりたいと思っていないと思う。
私は親密な関係を持ちたいのだが、私が人のことを大切に思うほど人は私のことを大切に思っていない。
</p>

<p><b>タイプ4 (恐れ型, fearful)</b><br>
私は人と親しくなることに抵抗を感じている。私は人と心が通じ合う関係を持ちたいのだが、人を信じきることはできない。また人に頼ることが苦手である。
人とあまりにも親しくなりすぎると傷ついてしまうのではないかと思う。
</p>

    {% formfields %}

    <button class="otree-btn-next btn btn-primary">次へ</button>

{% endblock %}
